In [ ]:
import pandas as pd
df=pd.read_csv("/content/PZZA.csv")
df.head(2)
type(df.Date[0])

str

In [ ]:
#  we have to convert it into date formate
df = pd.read_csv("/content/PZZA.csv",parse_dates=["Date"])
df.head(2)
# type(df.Date[0])

        Date       Open       High        Low      Close  Adj Close  Volume
0 2019-12-30  64.599998  64.849998  63.570000  63.720001  63.009705  427100
1 2019-12-31  63.540001  63.950001  62.700001  63.150002  62.446060  409900

In [ ]:
# in time seriers we date column to be index

df = pd.read_csv("/content/PZZA.csv",parse_dates=["Date"], index_col="Date")
df.head(2)

                 Open       High        Low      Close  Adj Close  Volume
Date
2019-12-30  64.599998  64.849998  63.570000  63.720001  63.009705  427100
2019-12-31  63.540001  63.950001  62.700001  63.150002  62.446060  409900

In [ ]:
#  to check the index
df.index

DatetimeIndex(['2019-12-30', '2019-12-31', '2020-01-02', '2020-01-03',
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-13',
               ...
               '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23',
               '2020-12-24', '2020-12-28'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [ ]:
df['2019-12-30']

KeyError: ignored